<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            FastApi Blog {{ title }}
        {% else %}
            FastApi Blog
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
</head>
<body class="bg-black text-white font-primary-main w-4xl mx-auto min-h-screen">
    
    <nav class="flex items-center fixed top-5 right-0 left-0 w-3xl mx-auto
     justify-between border border-primary-border rounded-full px-5 py-3 bg-black">
        <div class="site__logo">
            <h1>logo</h1>
        </div>

        <div class="site__links">
            <ul class="flex items-center gap-4">
                <li>
                    <a href="{{ url_for("home") }}">Home</a>
                </li>

                <li>
                    <a href="/">Blogs</a>
                </li>
            </ul>
        </div>

        <div class="actions flex items-center gap-5">
            <div class="flex items-center gap-2">
                <button aria-label="button" class="flex items-center justify-center">
                    <span>Register</span>
                </button>

                <button aria-label="button" class="flex items-center justify-center">
                    <span>Login</span>
                </button>
            </div>

            <div>
                <button class="rounded-full p-3 bg-white"></button>
            </div>
        </div>
    </nav>

    <main class="mt-30 mb-10">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>