{% extends "base.html" %}
{% block content %}
<article class="border border-primary-border rounded-2xl px-5 py-3 shadow-sm space-y-5">
    <div class="flex items-center gap-3">
        <button aria-label="button" title="Profile" class="flex items-center 
        justify-center p-5 bg-white rounded-full cursor-pointer"></button>

       <div class="space-y-px">
        <h1>{{ post.author}}</h1>
        <p class="text-sm">{{ post.date_posted }}</p>
       </div>
    </div>

    <div class="flex flex-col gap-4">
        <h1 href="" class="font-semibold text-lg">{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>
</article>
{% endblock content %}